*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    width:500px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    margin-bottom:20px;
}

.palavra{
    font-size:32px;
    letter-spacing:8px;
    margin-bottom:20px;
}

p{
    margin:10px 0;
}

input{
    width:60px;
    padding:10px;
    text-align:center;
    font-size:20px;
    text-transform:uppercase;
}

button{
    padding:10px 20px;
    cursor:pointer;
    margin-top:10px;
}

.venceu{
    margin-top:20px;
    color:green;
    font-weight:bold;
}

.perdeu{
    margin-top:20px;
    color:red;
    font-weight:bold;
}